body {
    margin:0;
}


.card-style {
    color:white;
}

.wide-card {
    min-height: 50vh;
    width: 30vw;
    margin:5vh 10vw 0 10vw;
}


.mdl-js-radio-space {
    margin-left:10vw;
}

.icon-sz {
    font-size:200px;
    margin:0 0 0 50px;
}

.weather-desc {
    font-size: 15px;
    text-align:left;
    margin:0 0 0 50px;
}

.weather-desc-second {
    color:grey;
    font-size: 20px;
    text-align:left;
    margin:0 0 0 30px;
}